
	<div class="card-content">
		<div class="card-img">
			<img src="https://placeimg.com/380/230/nature" alt="">
			<span><h4>{{destinos.nombre}}</h4></span>
		</div>
		<div class="card-desc">
			<h3>{{destinos.nombre}}</h3>
			<p>Veamos en que termina todo este codigo cuando se ejecute en el servidor que tenemos disponible para ello</p>
			<a href="#" class="btn-card">Read</a>
		</div>
	</div>
